# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dotenv files
.env
.env.*

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Build output
dist/
build/
out/

# Dependency directories
jspm_packages/

# Optional npm cache directory
.npm/

# Coverage directory used by tools like istanbul
coverage/

# TypeScript
*.tsbuildinfo

# PM2 logs
pids
*.pid
*.seed

# Binaries
*.exe
*.dll
*.so

# Mac junk
*.swp

